@charset "UTF-8";

@import "compass/css3";
@import "_scss/_base";
@import "_scss/_var";
@import "_scss/_mixins";
@import "_grid/_foundation";

/*****************************************************************************
Basic styles
*****************************************************************************/

body{
	background: #fff;
}

/*****************************************************************************
Grid mods
*****************************************************************************/

.grid-block{
	background: transparentize(#9BE3FF, 0.6);
	margin: $block-margin;
}

























@import "_scss/_helper-classes";